<% @profile=current_user.profile %>
<% @text=@profile.research.split(/\r?\n/) %>
      <% @text=@text.delete_if{|x| x==''} %>
      <% @books=[] %>
      <% for j in 0..((@text.length/2)-1) %>
        <% @books[j]=@text.slice!(0..1) %>
      <% end %>
      <% @books1=[] %>
      <% for j in @books %>
        <% j[0]="<br /><b style='color: black'>Field: </b> "+j[0]+"<br />" %>
        <% j[1]="<b style='color: black'>Link: </b> "+j[1]+"<br />" %>
        <% @books1.push(j.flatten) %>
      <% end %>
      <% @profile.research=@books1.join %>

    <% @text=@profile.collaborators.split(/\r?\n/) %>
    <% @text=@text.delete_if{|x| x==''} %>
    <% @collabs=[] %>
    <% for i in 0..((@text.length/2)-1) %>
      <% @collabs[i]=@text.slice!(0..1) %>
    <% end %>
    <% @collabs1=[] %>
    <% for c in @collabs %>
      <% c[0]="<h5><u>"+c[0]+"</u></h5>" %>
      <% c[1]="<h6> -"+c[1]+"</h6><br />" %>
      <% @collabs1.push(c.flatten) %>
    <% end %>
    <% @profile.collaborators=@collabs1.join %>

    
    <% @text=@profile.subjects.split(/\r?\n/) %>
    <% for i in 0..@text.length-1 %>
      <% @class=@text[i].split(',')[1] %>
      <% @text[i]=@text[i].split(',')[0] %>
      <% @text[i]="<br />"+"<li style='color:#000; font-size: 15px'>"+@text[i]+": "+@class+"</li>"+"<br />" %>
    <% end %>
    <% @profile.subjects="<ul>"+@text.join+"</ul>" %>
  
    <% @text=@profile.current_students.split(/\r?\n/) %>
    <% for i in 0..@text.length-1 %>
      <% @text[i]="<br />"+"<li>"+@text[i]+"</li>"+"<br />" %>
    <% end %>
    <% @profile.current_students="<ul>"+@text.join+"</ul>" %> 
    
    <% @text=@profile.conferences.split(/\r?\n/) %>
   <% @text=@text.delete_if{|x| x==''} %> 
    <% @journals=[] %>
    <% for j in 0..((@text.length/6)-1) %>
      <% @journals[j]=@text.slice!(0..5) %>
    <% end %>
    <% @journals1=[] %>
    <% for j in @journals %>
    <% j[0]="<br /><h5 style='color:blue'><u>"+j[0]+"</u></h5>" %>
    <% j[1]="<span style='color: #000'>"+j[1]+"</span><br /><br />" %>
    <% j[2]="<h3>"+j[2]+"</h3>" %>
    <% j[3]="<span style='color: #000'>"+j[3]+"</span><br /><br />" %>
    <% j[4]="Month/Year: "+"<span style='color: #000'>"+j[4]+"</span><br /><br />" %>
    <% j[5]="Page(s): "+"<span style='color: #000'>"+j[5]+"</span><br /><br /><hr />" %>
    <% @journals1.push(j.flatten) %>
    
    <% end %>
    <% @profile.conferences=@journals1.join %>

    <% @text=@profile.journals.split(/\r?\n/) %>
    <% @text=@text.delete_if{|x| x==''} %>  
    <% @journals=[] %>
    <% for j in 0..((@text.length/5)-1) %>
      <% @journals[j]=@text.slice!(0..4) %>
    <% end %>
    <% @journals1=[] %>
    <% for j in @journals %>
    <% j[0]="<br /><h5 style='color:blue'><u>"+j[0]+"</u></h5>" %>
    <% j[1]="<span style='color: blue; font-size:12px'>"+j[1]+"</span><br /><br />" %>
    <% j[2]="Volume,Issue: "+"<span style='color: #000'>"+j[2]+"</span><br /><br />" %>
    <% j[3]="Year: "+"<span style='color: #000'>"+j[3]+"</span><br /><br />" %>
    <% j[4]="Page(s): "+"<span style='color: #000'>"+j[4]+"</span><br /><br /><hr />" %>
    <% @journals1.push(j.flatten) %>
    <% end %>
    
    <% @profile.journals=@journals1.join %>
  
    <% @text=@profile.books.split(/\r?\n/) %>
    <% @text=@text.delete_if{|x| x==''} %>
    <% @books=[] %>
    <% for j in 0..((@text.length/6)-1) %>
      <% @books[j]=@text.slice!(0..5) %>
    <% end %>
    <% @books1=[] %>
    <% for j in @books %>
    <% j[0]="<br /><h3><u>"+j[0]+"</u></h3>" %>
    <% j[1]="<span style='color: #D9D8BA'>"+j[1]+"</span><br /><br />" %>
    <% j[2]="<u>Publisher</u>: "+"<span style='color: #D9D8BA'>"+j[2]+"</span><br /><br />" %>
    <% j[3]="<u>Edition</u>: "+"<span style='color: #D9D8BA'>"+j[3]+"</span><br /><br />" %>
    <% j[4]="<u>Year</u>: "+"<span style='color: #D9D8BA'>"+j[4]+"</span><br /><br />" %>
    <% j[5]="<span style='color: #D9D8BA'>"+j[5]+"</span><br /><br /><hr />" %>
    <% @books1.push(j.flatten) %>
    <% end %>
    <% @profile.books=@books1.join %>

    <% @text=@profile.monogram.split(/\r?\n/) %>
    <% @text=@text.delete_if{|x| x==''} %>
    <% @monograms=[] %>
    <% for j in 0..((@text.length/4)-1) %>
      <% @monograms[j]=@text.slice!(0..3) %>
    <% end %>
    <% @monograms1=[] %>
    <% for j in @monograms %>
    <% j[0]="<br /><h3><u>"+j[0]+"</u></h3>" %>
    <% j[1]="<span style='color: #D9D8BA'>"+j[1]+"</span><br /><br />" %>
    <% j[2]="<u>Publisher</u>: "+"<span style='color: #D9D8BA'>"+j[2]+"</span><br /><br />" %>
    <% j[3]="<u>Year</u>: "+"<span style='color: #D9D8BA'>"+j[3]+"</span><br /><br /><hr />" %>
    <% @monograms1.push(j.flatten) %>
    <% end %>
    <% @profile.monogram=@monograms1.join %>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsezero">
        <b>Subjects</b>
      </a>
    </div>
    <div id="collapsezero" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= markdown @profile.subjects %>
     </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <b>Research</b>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= markdown @profile.research %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <b>Current students</b>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= markdown @profile.current_students %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <b>Collaborators</b>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= markdown @profile.collaborators %>
      </div>
    </div>
  </div>
  
    <div class="accordion-group1">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
      <b>Publications</b>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="accordion" id="accordion3">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFou">
      -<b> Journals</b>
      </a>
    </div>
    <div id="collapseFou" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= markdown @profile.journals %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFive">
      -<b> Conference Papers</b>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= markdown @profile.conferences %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSix">
      -<b> Books</b>
      </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
       <%= markdown @profile.books %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
      -<b> Monogram</b>
      </a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse">
      <div class="accordion-inner">
       <%= markdown @profile.monogram %>
      </div>
    </div>
  </div>
</div>
</div>
  
</div>


