<div class="container">
<% provide(:title, "Sign in") %>
<div class="span6" style="padding-top:30px">
   <div class="carousel slide" id="js-carousel">
     <div class="carousel-inner">
       <div class="item">
         <img width="600" height="500" class="ws-responsive" src="http://www.shadygrove.umd.edu/sites/default/files/USG_Assets/Images/Campus/teacher-cartoon.jpg">
         <div class="carousel-caption">
           <h4>Collaborative Writing</h4>
           <p></p>
         </div>
       </div>
       <div class="active item">
         <img width="600" height="500" class="ws-responsive" src="http://c1.wikicdn.com/i/edu-stream-2.png">
         <div class="carousel-caption">
           <h4>Social Writing</h4>
           <p></p>
         </div>
       </div>
       <div class="item">
         <img width="600" height="500" class="ws-responsive" src="http://c1.wikicdn.com/i/edu-assess-2.png">
         <div class="carousel-caption">
           <h4>Formative Assessment</h4>
           <p></p>
         </div>
       </div>
       <div class="item">
         <img width="600" height="500" class="ws-responsive" src="http://c1.wikicdn.com/i/edu-projects-2.png">
         <div class="carousel-caption">
           <h4>Classroom Management</h4>
           <p></p>
         </div>
       </div>
     </div>
     <a data-slide="prev" href="#js-carousel" class="left carousel-control">‹</a>
     <a data-slide="next" href="#js-carousel" class="right carousel-control">›</a>
   </div>
 </div>
<div style="width:20px">

</div>


 <div class="span4" style="position:relative;padding-left:100px; padding-top:50px; padding-right:40px; padding-bottom: 50px">
  <div style="background-color:#f2f2f2; height: 280px; width: 350px;border: 1px solid lightgray;border-radius: 2px; padding: 15px 10px 0px 15px">
   <span style="text-align: left ; font-size: 17px;padding:0px 0px 0px 0px">Sign in</span>
   <span style="text-align: right ; color:gray; font-family: script;font-size: 27px;padding:2px 0px 0px 210px">ITSpace</span>
   <br /><br />
   <%= form_for(:session, url: sessions_path) do |f| %>

     <%= f.label :email %>
     <%= f.text_field :email %>

     <%= f.label :password %>
     <%= f.password_field :password %>

     <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
   <% end %>

   <p>New user? <%= link_to "Sign up now!", signup_path %></p>
 </div>
 </div>



 
   
</div>

<!--
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
</div>-->