<body style="background-color: #ffffff">
<div class="container">
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4" style="background-color: #000000; width: 30%;">
    <div style="padding-bottom: 30px">
    <section>
      <h1>
        <span style="padding: 5px"><%= markdown ("<img src="+@user.img+" />") %></span>
        <span style="color: #FF660F; font-size: 35px; font-family: Trebuchet MS, serif; text-align: center; padding-top: 27px; padding-left: 0px; color: #CCCCCC;"><%= @user.name %></span>
      </h1>
    </div>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <h2 style="color:#fff">Contact Info</h2>
      <div style="color:#CCCCCC; padding-left: 10px">
      <span style="font-size: 15px;padding-left: 4px"><b>Email: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.email %></span><br />
      <span style="font-size: 15px;padding-left: 4px"><b>Phone: </b>&nbsp;&nbsp;&nbsp;<%= @profile.ph %></span><br />
      <span style="font-size: 15px;padding-left: 4px"><b>Cabin: </b>&nbsp;&nbsp;&nbsp;&nbsp;<%= @profile.cabin %></span><br />
      <span style="font-size: 15px;padding-left: 4px"><b>Post: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @profile.post %></span>
    </div>
  </aside>
 
     
  <aside class="span8">
   
  <div class="profile">
    <%= render '/profiles/show' %>
  </div>
  </aside>
</div>
</div>
</body>